@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-cursive: 'Rouge Script', cursive;

    --font-playful: 'Single Day', cursive;

    --font-formal: 'Nanum Pen Script', cursive;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* typography */
.text-cursive {
    font-family: var(--font-cursive);
}

.text-formal {
    font-family: var(--font-formal);
}

.text-playful {
    /* letter-spacing: 0.03em; */
    font-family: var(--font-playful);
}

h1, h2, h3, h4, h5, h6, p, label {
    word-break: keep-all;
    overflow-wrap: break-word;
}

main {
  min-height: 100vh;
  background-image: url('/img/landing_bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
